<ul>
  <% @ingredients.each do |ingredient|%>
    <li>
      <%= link_to ingredient.name, ingredient_path(ingredient) %>
    </li>
  <% end %>
</ul>
<button>
  <%= link_to "New ingredient", new_ingredient_path %>
</button>
