<div class="" style="width:100%; display: table;">
  <div style="display: table-row">
    <div id="list-ingredients" style="display: table-cell">
      <%= render 'ingredients/list_ingredients' %>
    </div>
    <div id="list-recipes" style="display: table-cell">
      <%= render 'recipes/list_recipes' %>
    </div>
  </div>
</div>
